:root {
  --primary-green: #00c853;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  li {
    list-style: none;
    padding: 2.5px 0;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.img {
  object-fit: cover;
}

.primary-green {
  color: var(--primary-green) !important;
}
.section-margin-top {
  margin-top: 80px;
}
.sub-section-margin-top {
  margin-top: 30px;
}

.padding-top-and-bottom {
  padding: 80px 0 80px 0;
}
.padding-top-and-bottom-alt {
  padding: 40px 0 40px 0;
}
.section-titles-Subtitle {
  letter-spacing: 3px !important ;
  color: var(--primary-green);
}
.letter-spacing {
  letter-spacing: 13px !important ;
}

.backgroundShade {
  background-color: #f8f9fa !important;
}
.backgroundShadeDarker {
  background-color: #f0f1f3 !important;
}

.theme--dark.v-application {
  .backgroundShade {
    background-color: #272727 !important;
  }
}
.theme--dark.v-application {
  .backgroundShadeDarker {
    background-color: #121212 !important;
  }
}
.theme--dark.v-application {
  .swiper-pagination-bullet {
    background: #fff !important;
  }
  .swiper-pagination-bullet-active {
    background: var(--primary-green) !important;
  }
}

// Sign Up / Log In Or
.middle-text {
  overflow: hidden;
  text-align: center;
}

.middle-text:before,
.middle-text:after {
  background-color: #e0e0e0;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.middle-text:before {
  right: 0.5em;
  margin-left: -50%;
}

.middle-text:after {
  left: 0.5em;
  margin-right: -50%;
}
.select-max-width {
  max-width: 150px;
}

// Sponsors and Partners Images
.images {
  display: block;
  max-height: 150px;
  width: auto;
  margin: 0 auto;
  transition: 0.35s ease;
  &:hover {
    transform: scale(1.02);
  }
}
.blog-list-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
//Nuxt

.nuxt-content {
  h1 {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.0073529412em;
    margin-bottom: 30px;
  }
  h2 {
    font-weight: 400;
    size: 2.125rem;
    letter-spacing: 0.0073529412em;

  }

}
@media screen and (max-width: 600px) {
  .nuxt-content {
    h1 {
      font-weight: 400;
      font-size: 1.5rem;
      letter-spacing: 0.0073529412em;
      margin-bottom: 30px;
    }
    h2 {
      font-weight: 400;
      size: 1.125rem;
      letter-spacing: 0.0073529412em;
      color: red;
    }
  }
}

@media screen and (max-width: 700px) {
  .images {
    height: auto;
    width: 200px;
  }
}
@media screen and (max-width: 501px) {
  .images {
    height: 100px;
    width: auto;
  }
}

/* *{
  line-height: 22px !important;
} */

/* backgroundShade: ' #f8f9fa',
    backgroundShadeDarker: '#f0f1f3'

 dark theme
 backgroundShade: colors.indigo.base,
    backgroundShadeDarker: colors.indigo.base

*/

// Page Transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/*  .page-enter-active,
 .page-leave-active {
   animation-duration: 0.4s;
   animation-fill-mode: both;
   animation-name: zoom;
 }
 
 .page-leave-active {
   animation-direction: reverse;
 }
 
 @keyframes zoom {
   from {
     opacity: 0;
     transform: scale3d(0.3, 0.3, 0.3);
   }
 
   100% {
     opacity: 1;
   }
 }
  */
