:root {
  --primary-green: #00c853;

}

a {
  text-decoration: none;
  color: black;
}
ul {
  li {
    list-style: none;
    padding: 2.5px 0;
  }
}
.primary-green {
  color: var(--primary-green) !important;
}
.section-margin-top {
  margin-top: 80px;
}
.sub-section-margin-top {
  margin-top: 30px;
}

.padding-top-and-bottom {
  padding: 80px 0 80px 0;
}
.padding-top-and-bottom-alt {
  padding: 40px 0 40px 0;
}
.section-titles-Subtitle {
  letter-spacing: 3px !important ;
  color: var(--primary-green);
}
.letter-spacing {
  letter-spacing: 13px !important ;
}

.backgroundShade {
  background-color: #f8f9fa !important;
}
.backgroundShadeDarker {
  background-color: #f0f1f3 !important;
}

.theme--dark.v-application {
  .backgroundShade {
    background-color: #272727 !important;
  }
}
.theme--dark.v-application {
  .backgroundShadeDarker {
    background-color: #121212 !important;
  }
}
.theme--dark.v-application {
  .swiper-pagination-bullet {
    background: #fff !important;
  }
  .swiper-pagination-bullet-active {
    background: var(--primary-green) !important;
  }
}

/* *{
  line-height: 22px !important;
} */

/* backgroundShade: ' #f8f9fa',
    backgroundShadeDarker: '#f0f1f3'

 dark theme
 backgroundShade: colors.indigo.base,
    backgroundShadeDarker: colors.indigo.base

*/
